body, html {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Copperplate Gothic Light';
   color: white;
}


.bg {
   position: absolute;
   /* Full height */
   height: 100%; 
   width: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   opacity:0; 
   animation-name: fade; 
   animation-duration: 15s; 
   animation-iteration-count: infinite; 
}

#bgimage1 {
   background-image: url("Antoni_Estruch-_Sant_Sopar-_Museu_dArt_de_Sabadell.jpg");
   animation-delay: 0s;
}
#bgimage2 {
   background-image: url("00.159.220_PS2.jpg");
   animation-delay: 3s;
}
#bgimage3 {
   background-image: url("00.159.223_PS1.jpg");
   animation-delay: 6s;
}
#bgimage4 {
   background-image: url("1ea2068d15476c63af1a4ef602d03f88 (1).jpg");
   animation-delay: 9s;
   background-blend-mode: darken;
}
#bgimage5 {
   background-image: url("IMG_20190219_123937978_BURST000_COVER.jpg");
   animation-delay: 12s;
   background-blend-mode: darken;
}

@keyframes fade {
   0%   { opacity: 0; }
   11.11%   { opacity: 1; }
   33.33%  { opacity: 1; }
   44.44%  { opacity: 0; }
   100% { opacity: 0; }
 }

#google {
   position: absolute;
   bottom: 0%;
   width: 100%;
   justify-content: center;   
   color: grey;   
   font-family: 'Calibri';
   font-size: 6pt;
}

#text
{
   position: absolute;
   top: 54%;
   width: 100%;
   justify-content: center;
}

#CatholicMass {
   font-size: 50pt;
   text-decoration: underline;
}
.MassTime {
   font-size: 20pt;
}
body {
   background-color: rgb(62, 65, 65); 
   text-align: center;
   overflow: auto;
}








/* Dropdown Button */
.dropbtn {
   background-color: rgba(133, 133, 133, 0);
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   font-family: 'Copperplate Gothic Light';
 }
 
 /* Dropdown button on hover & focus */
 .dropbtn:hover, .dropbtn:focus {
   color: white;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #8a5e5e00;
   min-width: 300px;
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;

   animation-name: listfade; 
   animation-duration: 2s; 
   animation-iteration-count: 1; 
 }
 
 /* Change color of dropdown links on hover */
 /*.dropdown-content a:hover {background-color: #ddd}*/
 
 /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
 .show {display:block;}

 
@keyframes listfade {
   0%   { opacity: 0; }
   11.11%   { opacity: 0; }
   33.33%  { opacity: 0.5; }
   44.44%  { opacity: 1; }
   100% { opacity: 1; }
 }