@import url("https://fonts.googleapis.com/css?family=Abel|Fira+Sans|Major+Mono+Display|Play|Rajdhani|Righteous|Ropa+Sans&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Abel|Fira+Sans|Major+Mono+Display|Play|Rajdhani|Righteous&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Abel");

body, html {
   margin: 0;
   padding: 0;
   font-family: 'Copperplate Gothic Light';
   color: white;
   text-align: center;
}


.bg {
   position: fixed;
   /* Full height */
   height: 100%; 
   width: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   animation-fill-mode: forwards;

   z-index: -1;
}

.main-display {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.main-content {
   margin: auto;
   background-color: rgba(107, 107, 107, 0.562)
}

.title {
   font-size: 50pt;
   text-decoration: underline;
}

.heading {
   font-size: 20pt;
}

@keyframes bgfadein {
   0%   { opacity: 0; }
   100% { opacity: 1; }
 }

 @keyframes bgfadeout {
   0%   { opacity: 1; }
   100% { opacity: 0; }
 }